<h1>Add article</h1>

<div class="container py-5">
  <p>Contact</p>

  <form class="d-flex flex-column m-3" [formGroup]="formContact">
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="formContact.get('title')?.hasError('required')">
        L'title est obligatoire
      </mat-error>
      <mat-error *ngIf="formContact.get('title')?.hasError('maxlength')">
        {{formContact.get('title')?.errors?.['maxlength']?.requiredLength}}
        maximum character ({{formContact.get('title')?.errors?.['maxlength']?.requiredLength
          - formContact.get('title')?.errors?.['maxlength']?.actualLength


        }})
      </mat-error>
      <mat-error *ngIf="formContact.get('title')?.hasError('minlength')">
        {{formContact.get('title')?.errors?.['minlength']?.requiredLength}}
        minimum character ({{formContact.get('title')?.errors?.['minlength']?.actualLength


        }})
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" />
      <mat-error *ngIf="formContact.get('author')?.hasError('required')">
        L'author est obligatoire
      </mat-error>
      <mat-error *ngIf="formContact.get('author')?.hasError('maxlength')">
        {{formContact.get('author')?.errors?.['maxlength']?.requiredLength}}
        maximum character ({{formContact.get('author')?.errors?.['maxlength']?.requiredLength
          - formContact.get('author')?.errors?.['maxlength']?.actualLength


        }})
      </mat-error>
      <mat-error *ngIf="formContact.get('author')?.hasError('minlength')">
        {{formContact.get('author')?.errors?.['minlength']?.requiredLength}}
        minimum character ({{formContact.get('author')?.errors?.['minlength']?.actualLength


        }})
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Content</mat-label>
      <textarea matInput placeholder="..." formControlName="content"></textarea>
      <mat-error *ngIf="formContact.get('content')?.hasError('required')">
        content est obligatoire
      </mat-error>
      <mat-error *ngIf="formContact.get('content')?.hasError('minlength')">
        {{formContact.get('content')?.errors?.['minlength']?.requiredLength}}
        minimum character ({{formContact.get('content')?.errors?.['minlength']?.actualLength


        }})
      </mat-error>
      <mat-error *ngIf="formContact.get('content')?.hasError('maxlength')">
        {{formContact.get('content')?.errors?.['maxlength']?.requiredLength}}
        maximum character ({{formContact.get('content')?.errors?.['maxlength']?.requiredLength
          - formContact.get('content')?.errors?.['maxlength']?.actualLength


        }})
      </mat-error>
    </mat-form-field>

    <input type="file" />

    <button mat-flat-button color="primary" (click)="onSubmit()">
      Envoyer formulaire
    </button>
  </form>
</div>
